{{#partial "content"}}
   <body style="background-color: khaki; background-size:cover">
   <br>
   <div class="row">
       <div class="col-md-6">
           <div class="card">
               {{#each Animals}}
               <h3>Name of the animal: {{animalName}}</h3>

               {{/each}}
           </div>

       </div>

   </div>
   </body>

    {{/partial}}
{{> layout.hbs}}