{{#partial "content"}}
    <body style="background-color: lightyellow;" background-size:cover;">

    <div>
        <h5>Sightings </h5>
    </div>
    <div class="col-md-6">
        {{#each Sightings}}
            <div class="card"  style="background-color: olive; background-size:cover;">
                <h3>Name of the sighted Animal: {{animalName}}</h3>
                <hr>
                <p>Location of the sighted Animal: {{location}}</p>
                <hr>
                <p>Name of the Ranger: {{rangerName}}</p>
                <hr>
            </div>
        {{/each}}
    </div>

    <br>
    <a class="btn btn-warning" href="/SightingsForm.hbs">Add another Sighting</a>
    </body>
{{/partial}}

{{> layout.hbs}}