{{#partial "content"}}

    <body>
    <br>
    <div class="jumbotron" style="background-color: #1E212D; color: white;">
        <strong><p>"You have successfully added an animal to Jumanji!!"</p></strong>
        <a class="btn btn-warning" href="/Animals">Check Animal</a>
    </div>
    </body>

{{/partial}}


{{> layout.hbs}}